@page "{id:int}"
@model DeleteModel
@{
    ViewData["Title"] = "Удалить книгу";
}

<h1>Удалить книгу</h1>

<h3>Вы уверены, что хотите удалить эту книгу?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.Book.Title</dd>

        <dt class="col-sm-2">Автор</dt>
        <dd class="col-sm-10">@Model.Book.Author.FullName</dd>

        <dt class="col-sm-2">Стиль</dt>
        <dd class="col-sm-10">@Model.Book.Style.Name</dd>

        <dt class="col-sm-2">Издательство</dt>
        <dd class="col-sm-10">@Model.Book.Publisher.Name</dd>

        <dt class="col-sm-2">Год</dt>
        <dd class="col-sm-10">@Model.Book.Year</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <button type="submit">Удалить</button>
        <a asp-page="./Index"><button type="button">Отмена</button></a>
    </form>
</div>